
Codigo/\.idea/
.idea/
Codigo/__pycache__/


Codigo/__pycache__/

Codigo/Analizador/__pycache__/
ArduinoLibrary/.idea
ArduinoLibrary/cmake*
ArduinoLibrary/CMakeLists
*.out

Codigo/Analizador/parsetab\.py
